- command: update
  path: loadbalancer.id.annotationName
  value: {{ loadbalancer_kubernetes_annotation }}
- command: update
  path: loadbalancer.id.value
  value: {{ loadbalancer_uuid }}
- command: update
  path: dns.admin.apiKey
  value: {{ dns_admin_api_token_encoded.stdout }}
