apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
  name: argocd-cm
  namespace: argocd
data:
  repositories: |
    - type: git
      url: {{ environment_git_repo_url }}
      name: system-apps
      sshPrivateKeySecret:
        key: sshPrivateKey
        name: system-apps-ssh-key-secret
    - name: stable
      type: helm
      url: https://charts.helm.sh/stable
  resource.customizations: |
    admissionregistration.k8s.io/MutatingWebhookConfiguration:
      ignoreDifferences: |
        jsonPointers:
        - /webhooks/0/clientConfig/caBundle
    admissionregistration.k8s.io/ValidatingWebhookConfiguration:
      ignoreDifferences: |
        jsonPointers:
        - /webhooks/0/clientConfig/caBundle
        - /webhooks/0/failurePolicy
    bitnami.com/SealedSecret:
      ignoreDifferences: |
        jsonPointers:
        - /status
