apiVersion: v1
data:
  sshPrivateKey: {{ environment_git_private_key | b64encode }}
kind: Secret
metadata:
  annotations:
    managed-by: argocd.argoproj.io
  name: system-apps-ssh-key-secret
  namespace: argocd
type: Opaque